* {
    margin: 0 auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}
h1{
	text-align: center;
}


button {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    margin: 1rem;
}

li {
    font-size: 1.2rem;
}

#app {
    width: 80%;
    height: 100%;
    background-color: #CACACA;
}

#filters{
    margin-top: 5rem;
    font-size: 1.5rem;
}

#map1, #map2{
    margin-top: 2rem;
    border: 1px solid black;
    height: 60rem;
    width: 49%
}

#map1LocationInfo{
    float: left;
    font-size: 2rem;
    margin-top: 5rem;
}

#map2LocationInfo{
    float: right;
    font-size: 2rem;
    margin-top: 5rem;
}

#map1{
    float: left;
}

#map2{
    float: right;
}

#map1values{
    float: left;
    width: 50%;
}
#map2values{
    float: right;
    width: 50%
}

.tableHeader{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
}
.firstColumn{
    text-align: right;
}

tr.row2>td{
    padding-bottom: 2em;
}

.clear{
	display: block;
	clear: both;
}
.maptable{
    margin-top: 5rem;
    font-size: 1rem;
    border: 2px solid black;
}
.maptable th{
    font-size: 2rem;
    border: 1px solid black;
    padding: 1rem;
    width: 15rem;
}
.maptable td{
    font-size: 1.2rem;
    border: 1px solid black;
    padding: .5rem;
    width: 15rem;
}