* {
    margin: 0 auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    min-width: 70rem;
}
body{
    margin-bottom: 5rem;
}
h1{
	text-align: center;
    font-size: 3rem;
    font-style: bold;
    clear: both;
}
h2{
    text-align: center;
    font-size: 2rem;
    font-style: bold;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
p{
    width: 60%;
    text-align: center;
    font-size: 1.5rem;
}

button {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    margin: 1rem;
}

li {
    font-size: 1.5rem;
    margin: 2rem;
}



#app {
    width: 80%;
    height: 100%;
    background-color: #CACACA;
    margin-top: 2rem;
}

#filters{
    margin-top: 5rem;
    font-size: 1.5rem;
}

#map1, #map2{
    margin-top: 2rem;
    border: 1px solid black;
    height: 60rem;
    width: 49%
}

#map1LocationInfo{
    float: left;
    font-size: 2rem;
    margin-top: 5rem;
    width: 50%;
}

#map2LocationInfo{
    float: right;
    font-size: 2rem;
    margin-top: 5rem;
    width: 50%;
}
#map1values{
    float: left;
    width: 50%;
}
#map2values{
    float: right;
    width: 50%
}
#map1{
    width: 99%;
}
#map2{
    width: 99%;
}

#map1fullscreen{
    float: left;
}
#map2fullscreen{
    float: right;
}
#colorkey table td{
    font-size: 1.2rem;
    padding: 1rem;
}
#toolsp{
    text-align: left;
    width: 50%;
}
#discoveries{
    text-align:left;
    width: 50%;
}

#banner1{
    float: left;
    width: 49%;
}
#banner2{
    float: right;
    width: 49%;
}

.tableHeader{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
}
.firstColumn{
    text-align: right;
}

tr.row2>td{
    padding-bottom: 2em;
}

.clear{
	display: block;
	clear: both;
}
.maptable{
    margin-top: 5rem;
    font-size: 1rem;
    border: 2px solid black;
}
.maptable th{
    font-size: 2rem;
    border: 1px solid black;
    padding: 1rem;
    width: 15rem;
}
.maptable td{
    font-size: 1.2rem;
    border: 1px solid black;
    padding: .5rem;
    width: 15rem;
}

.navlink{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    float: right;
    margin-right: 2rem;
    margin-top: 2rem;
    border: 1px solid black;
}

.navlink:hover{
    color: #737373;
    border: 1px dotted #737373;
}

.member{
    text-align: center;
    width: 60%;

}
.about{
    text-align: center;
    font-size: 1.5rem;
}
.profilepic{
    width: 25%;
    transform: rotate(90deg);
    margin: 5rem;
}