<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Air Quality Search</title>

    <link rel="stylesheet" href="css/style.css"/>
    <!--Leaflet stylesheet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    	integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    	crossorigin=""/>

    <!--Leaflet js file-->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   		integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   		crossorigin=""></script>

    <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="application/javascript" src="scripts/airquality.js"></script>
</head>
<body onload="Init()">
    <div id="app">
        <h1> Air Quality Search <h1>
        	<div id="map1LocationInfo">
        		<p><table>
                    <tr>
                        <th class="tableHeader" colspan=3> Map 1 </th>
                    </tr>
                    <tr class="row2">
                        <td class="firstColumn">Name: </td>
                        <td><input v-model="map1_name" id="loc1Name"/></td>
                        <td><button onclick="mapSubmitName(1)"> Submit </button></td>
                    </tr>
                    <tr>
                        <td class="firstColumn">Latitude: </td>
                        <td><input v-model="map1_lat" id="loc1Lat"/></td>
                    </tr>
                    <tr>
                        <td class="firstColumn">Longitude: </td>
                        <td ><input v-model="map1_long" id="loc1Long"/></td>
                        <td><button onclick="mapSubmitLongLat(1)"> Submit </button></td>
                    </tr>
                </table></p>
        	</div>

            <div id="map2LocationInfo">
                <p><table>
                    <tr>
                        <th class="tableHeader" colspan=3> Map 2 </th>
                    </tr>
                    <tr class="row2">
                        <td class="firstColumn">Name: </td>
                        <td><input v-model="map2_name" id="loc2Name"/></td>
                        <td><button onclick="mapSubmitName(1)"> Submit </button></td>
                    </tr>
                    <tr>
                        <td class="firstColumn">Latitude: </td>
                        <td><input v-model="map2_lat" id="loc2Lat"/></td>
                    </tr>
                    <tr>
                        <td class="firstColumn">Longitude: </td>
                        <td ><input v-model="map2_long" id="loc2Long"/></td>
                        <td><button onclick="mapSubmitLongLat(2)"> Submit </button></td>
                    </tr>
                </table></p>
            </div>

            <div class="clear"><br/></div>

            <div id="map1">

            </div>
            <div id="map2">

            </div>

            <div class="clear"><br/></div>

            <div id="map1values">
                <table id="map1table"class="maptable">
                    <tr>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Value</th>
                    </tr>

                </table>
            </div>
            <div id="map2values">
                <table id="map2table" class="maptable">
                    <tr>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Value</th>
                    </tr>
                    
                </table>
            </div>
    </div>
</body>
</html>